---
import Footer from "../layouts/Footer.astro";
import Header from "../layouts/Header.astro";
---

<Header />
<div><a href="/" class="conga">Trang chủ</a></div>

<style>
  div {
    padding-top: 50px;
  }
</style>
