---
// Footer component
---

<footer>
  <div class="footer-container">
    <p>Copyright © Giapzech04</p>
  </div>
</footer>

<style>
  .footer-container {
    width: 100%;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .footer-container p {
    color: white;
    margin: 0;
  }
</style>
